@model Domain.POCO.DTOs.EmployeeDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fn" class="control-label">First Name</label>
                <input asp-for="fn" class="form-control" />
                <span asp-validation-for="fn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ln" class="control-label">Last Name</label>
                <input asp-for="ln" class="form-control" />
                <span asp-validation-for="ln" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="d" class="control-label">Birth Date</label>
                <input asp-for="d" class="form-control" />
                <span asp-validation-for="d" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="w" class="control-label">Wage</label>
                <input asp-for="w" class="form-control" />
                <span asp-validation-for="w" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="wd" class="control-label">Workdays</label>
                <input asp-for="wd" class="form-control" />
                <span asp-validation-for="wd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dn" class="control-label">Department Names</label>
                <select asp-for="dn" class="form-control" asp-items="ViewBag.DepartmentName"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>